
CrypticChat-Backend/CrypticChat.Persistance/obj/project.nuget.cache
CrypticChat-Backend/CrypticChat.Persistance/obj/project.assets.json
CrypticChat-Backend/CrypticChat.Persistance/obj/Debug/net6.0/CrypticChat.Persistance.GeneratedMSBuildEditorConfig.editorconfig
CrypticChat-Backend/CrypticChat.Persistance/obj/Debug/net6.0/CrypticChat.Persistance.csproj.AssemblyReference.cache
CrypticChat-Backend/CrypticChat.Persistance/obj/Debug/net6.0/CrypticChat.Persistance.assets.cache
CrypticChat-Backend/CrypticChat.Persistance/obj/CrypticChat.Persistance.csproj.nuget.g.props
CrypticChat-Backend/CrypticChat.Persistance/obj/CrypticChat.Persistance.csproj.nuget.dgspec.json
CrypticChat-Backend/CrypticChat.Domain/obj/project.nuget.cache
CrypticChat-Backend/CrypticChat.Domain/obj/project.assets.json
CrypticChat-Backend/CrypticChat.Domain/obj/Debug/net6.0/CrypticChat.Domain.GeneratedMSBuildEditorConfig.editorconfig
CrypticChat-Backend/CrypticChat.Domain/obj/Debug/net6.0/CrypticChat.Domain.csproj.AssemblyReference.cache
CrypticChat-Backend/CrypticChat.Domain/obj/Debug/net6.0/CrypticChat.Domain.assets.cache
CrypticChat-Backend/CrypticChat.Domain/obj/CrypticChat.Domain.csproj.nuget.g.props
CrypticChat-Backend/CrypticChat.Domain/obj/CrypticChat.Domain.csproj.nuget.dgspec.json
CrypticChat-Backend/CrypticChat.Application/obj/project.nuget.cache
CrypticChat-Backend/CrypticChat.Application/obj/project.assets.json
CrypticChat-Backend/CrypticChat.Application/obj/Debug/net6.0/CrypticChat.Application.GeneratedMSBuildEditorConfig.editorconfig
CrypticChat-Backend/CrypticChat.Application/obj/Debug/net6.0/CrypticChat.Application.csproj.AssemblyReference.cache
CrypticChat-Backend/CrypticChat.Application/obj/Debug/net6.0/CrypticChat.Application.assets.cache
CrypticChat-Backend/CrypticChat.Application/obj/CrypticChat.Application.csproj.nuget.g.props
CrypticChat-Backend/CrypticChat.Application/obj/CrypticChat.Application.csproj.nuget.dgspec.json
CrypticChat-Backend/CrypticChat.Api/obj/project.nuget.cache
CrypticChat-Backend/CrypticChat.Api/obj/project.assets.json
CrypticChat-Backend/CrypticChat.Api/obj/Debug/net6.0/CrypticChat.Api.GeneratedMSBuildEditorConfig.editorconfig
CrypticChat-Backend/CrypticChat.Api/obj/Debug/net6.0/CrypticChat.Api.csproj.AssemblyReference.cache
CrypticChat-Backend/CrypticChat.Api/obj/Debug/net6.0/CrypticChat.Api.assets.cache
CrypticChat-Backend/CrypticChat.Api/obj/CrypticChat.Api.csproj.nuget.g.props
CrypticChat-Backend/CrypticChat.Api/obj/CrypticChat.Api.csproj.nuget.dgspec.json
CrypticChat-Backend/CrypticChat.Api.Tests/obj/project.nuget.cache
CrypticChat-Backend/CrypticChat.Api.Tests/obj/project.assets.json
CrypticChat-Backend/CrypticChat.Api.Tests/obj/Debug/net6.0/CrypticChat.Api.Tests.GeneratedMSBuildEditorConfig.editorconfig
CrypticChat-Backend/CrypticChat.Api.Tests/obj/Debug/net6.0/CrypticChat.Api.Tests.csproj.AssemblyReference.cache
CrypticChat-Backend/CrypticChat.Api.Tests/obj/Debug/net6.0/CrypticChat.Api.Tests.assets.cache
CrypticChat-Backend/CrypticChat.Api.Tests/obj/CrypticChat.Api.Tests.csproj.nuget.g.props
CrypticChat-Backend/CrypticChat.Api.Tests/obj/CrypticChat.Api.Tests.csproj.nuget.dgspec.json
CrypticChat-Backend/.vs/CrypticChat/v17/.suo
